/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .mycontainer {
    width: 100%;
  }
  body {
    font-size: 0.7rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .mycontainer {
    width: 90%;
  }
  body {
    font-size: 0.75rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mycontainer {
    width: 80%;
  }
  body {
    font-size: 0.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mycontainer {
    width: 60%;
  }
  body {
    font-size: 0.9rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mycontainer {
    width: 50%;
  }
}


#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

body{
  background-image: url('/background_image.avif');
  background-size:50%;
  /* background-size: cover; */
}

.navbar {
  height: 130px; /* Adjust this value to your preferred height */
  border: 3px solid black;
  background-size: 40%;
  background-image: url('/Fruit Photography Ideas.jpg');
}

.name{
  background-color: beige;
  font-size: large;
  font-weight: 700;
  font-style: italic;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  margin: 10px;
  padding: 2px;
  top: -32px;
  border-radius: 5%;
  left: -22px;
  width: 10;
  color: black;
  background-color: #c3d716;
}

.plusbutton , .minusbutton {
  font-size: small;
}

.ll{
  font-size: x-large;
}

#badge{
  border: 3px solid rgb(161, 19, 42);
  background-color: rgb(253, 243, 245);
}

.bi-cart {
  font-size: 30px;
  padding: 2%;
}

.content-page{
  margin: 150px;
  /* background-color:aliceblue; */
  background-image: none;
}

.fruit{
  border-radius: 7%;
}

.logindesign , .signupdesign {
  background-color: pink;
  color: rgb(95, 3, 3);
  font-size: larger;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.add_product{
  font-size:25px;
  font-weight: 600;
  width: 25%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.bi-lock-fill , .bi-envelope-fill , .bi-person-fill {
  font-size: 30px;
  padding: 1%
}

.admin {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size:x-large;
}

.carttext {
  border: 2px solid black;
  background-color: rgb(173, 218, 250);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.bill{
  border: 3px solid black;
  background-color: white;
  
}

.login , .signup , .adminform , .logout{
  border: 3px solid rgb(161, 19, 42);
  background-color: rgb(253, 226, 231);
  color: rgb(161, 19, 42);
}

.card {
  position: relative;
  text-align: center;
  /* color: white; */
}

.read-the-docs {
  color: #888;
}
